### Ishni tekshirish uchun faylni (.ipynb) kengaytmasida yuboring.

---

1. Pandas kutubxonasi yordamida `uybor_first.xlsx` faylni o'qing va uy_df nomi bilan dataframe shaklda saqlang.

In [34]:
import pandas as pd
uy_df = pd.read_excel("uybor_first.xlsx")
print(uy_df.head())

   id                                            address    district  rooms  \
0   0  город Ташкент, Yunusobod район, Юнусабад 8-й к...   Yunusobod      3
1   1  город Ташкент, Yakkasaroy район, 1-й тупик Шот...  Yakkasaroy      2
2   2  город Ташкент, Chilonzor район, Чиланзар 2-й к...   Chilonzor      2
3   3  город Ташкент, Chilonzor район, Чиланзар 9-й к...   Chilonzor      3
4   4     город Ташкент, Chilonzor район, площадь Актепа   Chilonzor      3

   size  level  max_levels  price        lat        lng
0  57.0      4           4  52000  41.371471  69.281049
1  52.0      4           5  56000  41.291115  69.261104
2  42.0      4           4  37000  41.280784  69.223683
3  65.0      1           4  49500  41.290163  69.196862
4  70.0      3           5  55000  41.300156  69.210831

2. uy_df dataframeni o'lchamini aniqlang.

In [35]:
# javobni shu yerga kiriting...
uy_df.shape

(5000, 10)

3. uy_df dataframeni 8- qatoridagi uyni qaysi tumandaligini cop eting.

In [44]:
df.columns

Index(['id', 'address', 'district', 'rooms', 'size', 'level', 'max_levels',
       'price', 'lat', 'lng'],
      dtype='object')

In [49]:
df.head(9)

,id,address,district,rooms,size,level,max_levels,price,lat,lng
0,0,"город Ташкент, Yunusobod район, Юнусабад 8-й к...",Yunusobod,3,57.0,4,4,52000,41.371471,69.281049
1,1,"город Ташкент, Yakkasaroy район, 1-й тупик Шот...",Yakkasaroy,2,52.0,4,5,56000,41.291115,69.261104
2,2,"город Ташкент, Chilonzor район, Чиланзар 2-й к...",Chilonzor,2,42.0,4,4,37000,41.280784,69.223683
3,3,"город Ташкент, Chilonzor район, Чиланзар 9-й к...",Chilonzor,3,65.0,1,4,49500,41.290163,69.196862
4,4,"город Ташкент, Chilonzor район, площадь Актепа",Chilonzor,3,70.0,3,5,55000,41.300156,69.210831
5,5,"город Ташкент, Chilonzor район, Чиланзар 6-й к...",Chilonzor,1,28.0,1,4,25500,41.285755,69.211763
6,6,"город Ташкент, Chilonzor район, Чиланзар-16",Chilonzor,1,30.0,2,4,21200,41.274633,69.200587
7,7,"город Ташкент, Yakkasaroy район, Саламатина",Yakkasaroy,2,32.0,5,5,20000,41.282013,69.243137
8,8,"город Ташкент, Uchtepa район, Чиланзар-21",Uchtepa,2,51.0,3,4,26200,41.292421,69.173765

In [52]:
uy_df.loc[9]

id                                                     9
address       город Ташкент, Chilonzor район, Чиланзар-8
district                                       Chilonzor
rooms                                                  1
size                                                30.0
level                                                  1
max_levels                                             4
price                                              22200
lat                                            41.289442
lng                                            69.205802
Name: 9, dtype: object

In [57]:

tumani_10_qator = uy_df.loc[7, "district"]
print(tumani_10_qator)

Yakkasaroy

4. `uy_df` dagi ma'lumotlarni 400-qatordan boshlab 410-gacha qatorlarni chiqaring.

In [62]:
# javobni shu yerga kiriting...
uy_df.iloc[400 : 411]

,id,address,district,rooms,size,level,max_levels,price,lat,lng
400,400,"город Ташкент, Yakkasaroy район, Нукус 2а",Yakkasaroy,1,43.0,6,16,34000,41.280163,69.256976
401,401,"город Ташкент, Yunusobod район, Юнусабад 14-й ...",Yunusobod,2,60.0,9,9,32000,41.370955,69.307123
402,402,"город Ташкент, Yunusobod район, Юнусабад 18-й ...",Yunusobod,2,60.0,1,4,31999,41.370785,69.319042
403,403,"город Ташкент, Yunusobod район, Юнусабад 7-й к...",Yunusobod,2,57.0,4,4,32000,41.371635,69.269129
404,404,"город Ташкент, Yunusobod район, ц-6 Минор (Ц-6)",Yunusobod,3,75.0,4,9,80000,41.329887,69.280304
405,405,"город Ташкент, Yunusobod район, Юнусабад 2-й к...",Yunusobod,2,62.0,4,4,33000,41.358749,69.299673
406,406,"город Ташкент, Yakkasaroy район, Нукус",Yakkasaroy,2,43.0,6,16,34000,41.276567,69.246033
407,407,"город Ташкент, Chilonzor район, Парламент",Chilonzor,2,48.0,1,4,34000,41.305712,69.238770
408,408,"город Ташкент, Yunusobod район, ц-6 Минор (Ц-6)",Yunusobod,3,70.0,1,9,68000,41.329887,69.280304
409,409,"город Ташкент, Yunusobod район, Юнусабад 6-й к...",Yunusobod,2,54.0,2,4,33000,41.368395,69.264659
410,410,"город Ташкент, Yunusobod район, Юнусабад 7-й к...",Yunusobod,2,50.0,4,4,33500,41.371635,69.269129

5. uy_df dataframeni tavsiflovchi statistikalar bo'yicha yig‘ma jadvalni chiqaring.

In [13]:
import pandas as pd
uy_df = pd.read_excel("uybor_first.xlsx")
uy_df.describe()

,id,rooms,size,level,max_levels,price,lat,lng
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000
mean,2499.500000,2.612600,73.849720,3.715600,6.05280,60597.360200,41.305779,69.260884
std,1443.520003,1.062613,37.525603,2.229823,2.62202,48458.609774,0.033702,0.058041
min,0.000000,1.000000,14.000000,1.000000,1.00000,10600.000000,41.191798,69.148915
25%,1249.750000,2.000000,50.000000,2.000000,4.00000,35000.000000,41.281856,69.209834
50%,2499.500000,2.000000,65.000000,3.000000,5.00000,47000.000000,41.298383,69.266170
75%,3749.250000,3.000000,86.000000,5.000000,9.00000,68000.000000,41.328918,69.298183
max,4999.000000,10.000000,456.000000,18.000000,25.00000,800000.000000,41.424522,69.588687

6. uy_df dataframeni tavsiflovchi ma'lumotlar bo'yicha yig‘ma jadvalni chiqaring.

In [14]:
# javobni shu yerga kiriting...
uy_df.describe()

,id,rooms,size,level,max_levels,price,lat,lng
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000
mean,2499.500000,2.612600,73.849720,3.715600,6.05280,60597.360200,41.305779,69.260884
std,1443.520003,1.062613,37.525603,2.229823,2.62202,48458.609774,0.033702,0.058041
min,0.000000,1.000000,14.000000,1.000000,1.00000,10600.000000,41.191798,69.148915
25%,1249.750000,2.000000,50.000000,2.000000,4.00000,35000.000000,41.281856,69.209834
50%,2499.500000,2.000000,65.000000,3.000000,5.00000,47000.000000,41.298383,69.266170
75%,3749.250000,3.000000,86.000000,5.000000,9.00000,68000.000000,41.328918,69.298183
max,4999.000000,10.000000,456.000000,18.000000,25.00000,800000.000000,41.424522,69.588687

7. uy_df dataframeda `manzil` ustuni bosh qatorlarni chop eting.

In [18]:
# javobni shu yerga kiriting...
uy_df['address'].head()

0    город Ташкент, Yunusobod район, Юнусабад 8-й к...
1    город Ташкент, Yakkasaroy район, 1-й тупик Шот...
2    город Ташкент, Chilonzor район, Чиланзар 2-й к...
3    город Ташкент, Chilonzor район, Чиланзар 9-й к...
4       город Ташкент, Chilonzor район, площадь Актепа
Name: address, dtype: object

8. `uybor_second.xlsx` faylini o'qing va `uy_df2` deb dataframe ko'rinishida saqlab oling. Keying `uy_df` va `uy_df2` larni birlashtiring va `full_df` deb saqlang(Maslahat concat ishlating.)

In [24]:
# javobni shu yerga kiriting...
import pandas as pd
uy_df = pd.read_excel("uybor_first.xlsx")
uy_df2 = pd.read_excel("uybor_second.xlsx")
full_df = pd.concat([uy_df , uy_df2])
full_df.head()

,id,address,district,rooms,size,level,max_levels,price,lat,lng
0,0,"город Ташкент, Yunusobod район, Юнусабад 8-й к...",Yunusobod,3,57.0,4,4,52000,41.371471,69.281049
1,1,"город Ташкент, Yakkasaroy район, 1-й тупик Шот...",Yakkasaroy,2,52.0,4,5,56000,41.291115,69.261104
2,2,"город Ташкент, Chilonzor район, Чиланзар 2-й к...",Chilonzor,2,42.0,4,4,37000,41.280784,69.223683
3,3,"город Ташкент, Chilonzor район, Чиланзар 9-й к...",Chilonzor,3,65.0,1,4,49500,41.290163,69.196862
4,4,"город Ташкент, Chilonzor район, площадь Актепа",Chilonzor,3,70.0,3,5,55000,41.300156,69.210831

9. `full_df` dataframedan tumani Yakkasaroy bo'lgan va narxi 25000 dan past bo'lgan  uylarni alohida dataframe qling.Shu dataframeni `Yakkasaroy.xlsx` deb saqlab qoying.

In [25]:

yakkasaroy_df = full_df[(full_df['district'] == 'Yakkasaroy') & (full_df['price'] < 25000)]

yakkasaroy_df.to_excel("Yakkasaroy.xlsx", index=False)

yakkasaroy_df.head()

,id,address,district,rooms,size,level,max_levels,price,lat,lng
7,7,"город Ташкент, Yakkasaroy район, Саламатина",Yakkasaroy,2,32.0,5,5,20000,41.282013,69.243137
43,43,"город Ташкент, Yakkasaroy район, Кушбеги",Yakkasaroy,2,48.0,5,9,23000,41.267308,69.241563
109,109,"город Ташкент, Yakkasaroy район, Кушбеги",Yakkasaroy,2,48.0,5,9,23000,41.267308,69.241563
466,466,"город Ташкент, Yakkasaroy район, 1-й проезд Им...",Yakkasaroy,1,20.0,2,4,14500,41.284409,69.244298
496,496,"город Ташкент, Yakkasaroy район, Тукимачи",Yakkasaroy,1,33.0,2,4,22000,41.266834,69.253337

10. full_df dataframedan eng arzon uylarni 10 tasini ajratib oling.

In [26]:
# javobni shu yerga kiriting...
eng_arzon_df = full_df.sort_values(by='price', ascending=True).head(10)

eng_arzon_df

,id,address,district,rooms,size,level,max_levels,price,lat,lng
2330,7330,"город Ташкент, Mirobod район, Фидоийлар",Mirobod,1,18.0,1,4,10500,41.275891,69.293713
1901,6901,"город Ташкент, Yashnobod район, Городок Авиаст...",Yashnobod,1,18.0,1,4,10500,41.292252,69.341907
945,5945,"город Ташкент, Mirzo Ulugbek район, Улица Буюк...",Mirzo Ulugbek,1,18.0,6,9,10500,41.342224,69.360758
2614,2614,"город Ташкент, Yashnobod район, Мухтара Ашрафи",Yashnobod,1,14.0,1,1,10600,41.314320,69.290429
3041,3041,"город Ташкент, Yashnobod район, Машиносозлар",Yashnobod,1,18.0,2,4,11000,41.299494,69.304386
2419,7419,"город Ташкент, Mirzo Ulugbek район, Буюк Ипак ...",Mirzo Ulugbek,1,18.0,1,4,11000,41.310487,69.292223
358,5358,"город Ташкент, Yashnobod район, 40-",Yashnobod,1,21.0,4,9,11500,41.286283,69.323512
4283,4283,"город Ташкент, Yashnobod район, Корасув (Лисун...",Yashnobod,1,18.0,3,4,11500,41.296652,69.341809
2131,2131,"город Ташкент, Mirzo Ulugbek район, Городок Тр...",Mirzo Ulugbek,1,18.0,4,4,12000,41.329220,69.347351
935,5935,"город Ташкент, Chilonzor район, Чиланзар 3-й к...",Chilonzor,1,15.0,3,4,12000,41.285593,69.223683

11. full_df dataframeda saqlangan barcha narxlarning o'rta qiymatini toping.

In [37]:
# javobni shu yerga kiriting...
average = full_df['price'].mean()
print(average)

59117.618919283115

12. `mashinalar_data1.xlsx` va `mashinalar_data2.xlsx` fayllarini o'qing va ularni `merge` yordamida birlashtiring.
Hosil bo'lgan ma'lumotlarni o'rganib chiqing. Statistik jadval chiqaring.

In [42]:
# javobni shu yerga kiriting...
import pandas as pd
uy_df = pd.read_excel("mashinalar_data1.xlsx")
uy_df2 = pd.read_excel("mashinalar_data2.xlsx")
full_df2 = uy_df.merge(uy_df2)
print(full_df2)

     id              model  year   manufacturer  price
0   101   Chevrolet Cobalt  2020  GM Uzbekistan  41732
1   102   Chevrolet Malibu  2013  GM Uzbekistan  12943
2   103   Chevrolet Cobalt  2003  GM Uzbekistan  40393
3   104   Chevrolet Malibu  2010  UzAuto Motors  11375
4   105   Chevrolet Malibu  2005  GM Uzbekistan  18223
..  ...                ...   ...            ...    ...
95  196  Chevrolet Tracker  2014  GM Uzbekistan  43550
96  197   Chevrolet Malibu  2005  GM Uzbekistan  17208
97  198    Chevrolet Nexia  2008  GM Uzbekistan  45268
98  199    Chevrolet Nexia  2010  GM Uzbekistan  21906
99  200   Chevrolet Malibu  2004  UzAuto Motors  19410

[100 rows x 5 columns]

In [43]:
full_df2.describe()

               id         year        price
count  100.000000   100.000000    100.00000
mean   150.500000  2010.490000  29910.07000
std     29.011492     6.286903  11824.07153
min    101.000000  2000.000000  10653.00000
25%    125.750000  2004.750000  19964.25000
50%    150.500000  2010.000000  29911.00000
75%    175.250000  2016.000000  40448.00000
max    200.000000  2022.000000  49911.00000